footer{
    display: flex;
    justify-content:space-around;
}
.imgpiepagina{
    height: 25px;
    width: 25px;
}
.nombrePrincipal{
    text-align: center;
}
.nombrePrincipal h2{
    margin-top: 0px;
}
.nombrePrincipal h1{
    margin-bottom: 0px;
}

.navegador{
    justify-content: space-evenly;
    display: flex;
    list-style: none;
}
.navegador li a{
        
    color: black;
    text-decoration: none;
    font-size: 20px;
    
}

    

@media only screen and (min-width: 600px) {

}